/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
}
:root{
    --blue: rgb(25,146,212); 
}
body{
    background-color: #ecfeff;
    height: 100vh;
    display: grid;
    grid-template-columns: 290px 4fr;
    grid-template-rows: 1fr 4fr;
}
a{
    text-decoration: none;
    color: white;
}

/*NAVBAR*/

.navBar{
    background-color: var(--blue);
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
    padding: 20px 2px;
}
.navImg{
    width: 27px;
    height: 27px;
    margin: 0 30px 0;
    vertical-align: middle;
}
.navButtons > ul > li{
    list-style: none;
    margin: 21px 0;
}
.navSettings > ul > li{
    list-style: none;
    margin: 21px 0;
}
/* HEADER */ 
.header{
    background-color: white;
    padding: 5px;
    height: 150px;
}

.searchBar{
    display: flex;
    justify-content: flex-end;
    gap: 240px;
    align-items: center;
}
.searchBar > input{
    width: 500px;
    height: 25px;
    border-radius: 30px;
}
.bell {
    width: 8rem;
    height: 3rem;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.titleBar{
    display: flex;
    align-items: center;
}

.titleNav > ul > li{
     padding: 5px;
     margin: 0 43px;
     border-radius: 24px;
     width: 100px;
     text-align: center;
}
.profile{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 12px;

}
.titleNav > ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
/*MAIN/

/*FOOTER*/